@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

.container {
    font-family: "Manrope";
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.title {
    font-size: min(50px, 10vw);
    font-weight: 500;
    text-align: center;
}

.subtitle {
    font-family: "Roboto";
    font-size: min(25px, 5vw);
    margin-inline: auto;
    text-align: center;
    font-weight: 250;
}

.image-container {
    display: inline-grid;
    grid-template-columns: repeat(19, min(60px, 5vw));
    grid-template-rows: repeat(10, min(60px, 5vw));
    margin-inline: auto;
}

#cpu {
    /* max-height: 100px; */
    grid-row: 3 / span 2;
    grid-column: span 2;
}

#motherboard {
    /* max-height: 300px; */
    grid-row: 2 / span 4;
    grid-column: span 4;
    align-self: center;
}

#monitor {
    /* max-height: 350px; */
    grid-row: 1 / span 6;
    grid-column: span 7;
}

#keyboard {
    /* max-height: 150px; */
    box-sizing: border-box;
    grid-row: 7 / span 2;
    grid-column: 8 / span 5;
    margin-top: 1vh;
}

#ram {
    /* max-height: 200px; */
    grid-row: 2 / span 4;
    grid-column: span 2;
}

#ssd {
    /* max-height: 200px; */
    grid-row: 2 / span 4;
    grid-column: span 2;
}

#gpu {
    /* max-height: 200px; */
    grid-row: 2 / span 4;
    grid-column: span 2;
}

img {
    max-height: 100%;
    max-width: 100%;
    justify-self: center;
    align-self: center;
}

/*
img:hover {
    transition: 0.2s ease;
    -webkit-filter: drop-shadow(0px 0px 3px #222);
    filter: drop-shadow(0px 0px 3px #222);
}
*/
