@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

.container {
    margin-block: 5em;
    font-family: "Manrope";
}

.title {
    font-size: min(50px, 10vw);
    font-weight: 500;
    text-align: center;
    margin-bottom: 1vh;
}

.subtitle {
    font-family: "Roboto";
    font-size: min(25px, 5vw);
    margin-inline: auto;
    text-align: center;
    font-weight: 250;
}

.image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#motherboard {
    width: min(35vw, 325px);
    transform: rotate(-90deg);
    z-index: 5;
}

#abacus {
    width: min(27vw, 280px);
    transform: rotate(-5deg);
}

#cpu-bottom {
    width: min(24vw, 250px);
    transform: rotate(5deg);
}

img {
    padding: 3px;
}

/*
img:hover {
    transition: 0.2s ease;
    -webkit-filter: drop-shadow(0px 0px 3px #222);
    filter: drop-shadow(0px 0px 3px #222);
}
*/
