nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

nav > a {
    font-family: "Manrope";
    color: black;
    font-size: min(18px, 4vw, 3vh);
    text-decoration: none;
    font-weight: 450;
    padding-inline: 1em;
    padding-block: 0.5em;
    border-radius: 5px;
}

nav > a:hover {
    transition: 0.5s; 
    background-color: whitesmoke; 
}

