@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

:root {
    --card-width: 350px;
}

.container {
    /* background-color: orange; */
    font-family: "Manrope";
    font-weight: 250;
    display: flex;
    padding-inline: 7vw;
    flex-direction: column;
    gap: 1em;
    max-width: calc(3 * var(--card-width) + 2 * 4em + 2 * 7vw);
    box-sizing: border-box;
    width: 100%;
    margin-inline: auto;
}

.title {
    font-size: min(50px, 10vw);
    font-weight: 500;
}

.subtitle {
    font-family: "Manrope";
    font-size: min(19px, 4.75vw); 
}

.grid {
    display: grid;
    gap: 4em;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}

.card {
    border-radius: 10px;
    border-color: lightgray;
    border-width: 0.5px;
    border-style: solid;
    max-height: 350px;
    max-width: var(--card-width);
    display: flex;
    flex-direction: column;
}

.card:hover {
    transition: 0.2s; 
    box-shadow: 0 0 3px rgba(33,33,33,.5); 
}

.card-img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px; 
}

.card-content {
    padding-block: 0.5em;
    padding-inline: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
}

.card-title {
    font-family: "Manrope";
    font-size: min(22px, 5.25vw);
    font-weight: 450;
    text-align: justified;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    text-overflow: ellipsis;
    overflow: hidden;
    line-clamp: 2;
    -webkit-line-clamp: 2;
}

.card-desc {
    font-family: "Roboto";
    font-size: min(19px, 4.75vw); 
    /* color: dimgray; */
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    text-overflow: ellipsis;
    overflow: hidden;
    line-clamp: 2;
    -webkit-line-clamp: 2;
}

.date {
    font-family: "Roboto";
    font-size: min(18px, 4.5vw);
    font-weight: 350;
    color: dimgray;
}

ul {
    padding: 0;
}

li {
    padding: 0.5em;
    list-style-type: none;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 5fr;
    max-width: calc(3 * var(--card-width) + 2 * 4em);
    border-bottom: solid;
    border-color: lightgray;
    border-width: 1px;
    animation: fade-in 1s ease;
    animation-fill-mode: backwards;
}

li:nth-child(1) {
    animation-delay: 0.4s;
}

li:nth-child(2) {
    animation-delay: 0.5s;
}

li:nth-child(3) {
    animation-delay: 0.6s;
}

li:nth-child(4) {
    animation-delay: 0.7s;
}

li:hover {
    transition: 0.2s ease;
    box-shadow: 0 1.5px 1.5px -1px rgba(33,33,33,.5); 
}

.slot-title {
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    text-overflow: ellipsis;
    overflow: hidden;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    font-family: "Manrope";
    font-size: min(22px, 5.25vw);
    font-weight: 450;
}

.slot-date {
    text-align: justified;
    margin-block: auto;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    text-overflow: ellipsis;
    overflow: hidden;
    line-clamp: 2;
    -webkit-line-clamp: 2;
}

#offline-judge {
    animation: fade-in 1s ease;
    animation-fill-mode: backwards;
    animation-delay: 0.1s;
}

#bootloader {
    animation: fade-in 1s ease;
    animation-fill-mode: backwards;
    animation-delay: 0.2s;
}

#surge {
    animation: fade-in 1s ease;
    animation-fill-mode: backwards;
    animation-delay: 0.3s;
}

@keyframes fade-in {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
