@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

.container {
    /* background-color: orange; */
    font-family: "Manrope";
    font-weight: 250;
    padding-inline: 7vw;
}

.title {
    font-size: min(40px, 9vw);
    padding-block: 2vh; 
    font-weight: 500;
}

.grid {
    display: grid;
    padding-block: 2em;
    gap: 4em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    border-radius: 10px;
    border-color: lightgray;
    border-width: 0.5px;
    border-style: solid;
    max-height: 350px;
    max-width: 375px;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transition: 0.2s; 
    box-shadow: 0 0 3px rgba(33,33,33,.5); 
}

.card-img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px; 
}

.card-content {
    padding-block: 0.5em;
    padding-inline: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card-title {
    font-family: "Manrope";
    font-size: min(22px, 5.25vw);
    font-weight: 450;
    text-align: justified;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    text-overflow: ellipsis;
    overflow: hidden;
    line-clamp: 2;
    -webkit-line-clamp: 2;
}

.card-desc {
    font-family: "Roboto";
    font-size: min(19px, 4.75vw); 
    color: dimgray;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    text-overflow: ellipsis;
    overflow: hidden;
    line-clamp: 2;
    -webkit-line-clamp: 2;
}

.card-footer {
    font-size: min(17px, 4.25vw);
    font-weight: 550;
    color: dimgray;
    margin-top: auto;
    padding-block: 0.5em;
    padding-inline: 1em;
}

nav {
    // background-color: cyan;
    display: flex;
    flex-direction: row;
    padding-block: 0.5em;
    padding-inline: 7vw;
}

/*
nav a:first-child {
    margin-left: auto;
}
*/

a {
    font-family: "Manrope";
    color: black;
    font-size: min(18px, 4.5vw);
    text-decoration: none;
    font-weight: 450;
    padding-inline: 1em;
    padding-block: 0.5em;
    border-radius: 5px;
}

a:hover {
    transition: 0.5s; 
    background-color: whitesmoke; 
}

ul {
    padding: 0;
}

li {
    padding: 0.5em;
    list-style-type: none;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 6fr;
    font-family: "Manrope";
    font-size: min(22px, 5.25vw);
    font-weight: 450;
    border-bottom: solid;
    border-color: lightgray;
    border-width: 1px;
}

li:hover {
    transition: 0.2s ease;
    box-shadow: 0 1.5px 1.5px -1px rgba(33,33,33,.5); 
}

.slot-date {
    font-family: "Roboto";
    font-size: min(16px, 4.25vw);
    font-weight: 500;
    color: dimgray;
    text-align: justified;
    margin-block: auto;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    text-overflow: ellipsis;
    overflow: hidden;
    line-clamp: 2;
    -webkit-line-clamp: 2;
}
